.banner{
    background-image: linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.8)),url(../../images/Photo/rec-26.png);
    height: 50vh;
    text-align: center;
    padding: 50px;
    margin-bottom: 20px;
  }
.banner img{
    width: 200px;
  }
.team-banner{
    text-align: center;
    margin-bottom: 20px;
}
.icons{
    display: flex;
    align-items: center;
    justify-content: center;
}
.icons img{
    width: 50px;
}
.team-details{
    display: flex;
    width: 75%;
    align-items: center;
    justify-content: center;
    background-color: tomato;
    margin: 0 auto;
    padding: 20px;
    border-radius: 30px;
    color: white;
    margin-bottom: 20px;
}
@media only screen and (max-width: 576px) {
    .team-banner img{
        width: 100%;
    }
    .team-details{
    display: block;
    width: 100%;
    background-color: tomato;
    padding: 20px;
    border-radius: 30px;
    color: white;
    margin-bottom: 20px;
    text-align: center;
    }
    .team-details .team-data{
        margin: 0 auto;
    }
}